<div class="container">
    @if(selectedComponent$ | async; as selectedComponent) {
        <span class="header">You are editing component: {{ selectedComponent.uniqueId }}</span>
    } @else {
        @if (selectedBlock$ | async; as selectedBlock) {
            <span class="header">You are editing block: {{ selectedBlock.uniqueId }}</span>
            @for(button of buttons; track button) {
                <button (click)="addComponent(button.type)">{{ button.viewText }}</button>
            }
        } @else {
            <span class="header">No block selected</span>
        }
    }
</div>